@charset "EUC-KR";

* {
	margin: 0;
	padding: 0;
}

.container{
	position: relative;
	}
.header {
	position: relative;
	min-width:800px;
	max-width:1000px;
	height:100px;
	padding: 10px;
	left:8%
}

#slide {
	max-width: 1000px;
	min-width: 800px;
	height: 300px;
	background: #f9f9f9;
	position: relative;
	margin: auto;
	padding-top: 20px;
	border-style: solid;
	border-width: 3px;
	border-color: #eee;
	padding-left:100px;
}

.Slides {
	display: none;
	width: 770px;
	margin: 0 auto;
}

.book>div {
	text-align: center;
}

.book {
	float: left;
	padding:30px 50px 30px 20px;
	position: relative;
}

.prev, .next {
	cursor: pointer;
	position: absolute;
	bottom: 45%;
	width: auto;
	margin-top: -22px;
	color: #d9d9d9;
	font-weight: bold;
	font-size: 30px;
	padding: 15px;
}

.next {
	right: 30px;
}

.prev {
	left: 30px;
}

.dot {
	cursor: pointer;
	height: 12px;
	width: 12px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

#dotstyle {
	position: absolute;
	bottom: 20px;
	width: auto;
	right: 50%;
}

#menu > ul {overflow:hidden; height: 60px; min-width:800px; max-width:1000px; padding: 0px 45px 0px 45px;}
#menu > ul > li {float:left;}
#menu > ul > li {list-style: none; padding:10px 20px 0px 20px;}
#menu {
	position: relative;
	max-width:1000px;
	min-width:800px;
	margin: auto;

}
.rect{
	
 	position : relative;
	text-align:center;
	min-width:120px;
	cursor: pointer;
	margin: auto;
	padding: 10px;
	background-color: #fff;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover {
	background-color: #4bc118;
}

.book>div>h3 {
	padding: 5px 0;
	color: #777777;
}

.book>div>p {
	font-size: 10pt;
	color: #777777;
}

.review{
	position:relative;
	margin:20px;
	max-width:1000px;
	min-width:900px;
	width:100%;
	height:600px;
	margin:auto;
	padding-left:100px;
}
.recommend{
	position: relative;
	float: left;
	width:400px;
	height:300px;
	padding:30px 50px 30px 20px;
}
.recommend>table{

	width:400px;
	height:300px;
}
.tableWidth{
	width:150px;
}